*.lnk
experiments/experiment_2/fv/
*.jpg
*.bmp
*.png
*.mat
*.lot
*.gz
*.toc
*.out
*.aux
*.lof
*.log
report/Thesis.pdf
*.ps
*.dvi
*.blg
*.bbl
*.asv
experiments/fusion_mhd_lbp/lbp/
experiments/fusion_mhd_lbp/mhd/
experiments/common/cbrewer.zip
experiments/common/license.txt
experiments/common/linspecer.zip
experiments/common/libsvm-3.18/
experiments/common/libsvm-3.18.zip
experiments/common/ex8ng.zip
